#Data Science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
List popular languages for Data Science
List commonly used libraries used by Data Scientists
List some Data Science Tools
write few examples showing arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
Python
Javascript
R
SQL
Matlab
Scala
Julia

Some of the commonly used libraries used by Data Scientists include:
Numpy
Pandas
SciPy
SciKit-Learn
TensorFlow
Matplotlib

Data Science Tools
JupyterLab
Apache Spark
Apache Hadoop

###Below are few examples of evaluating arithmetic expressions in Python.

In [5]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

##Author
Aniket kumar